
a {
  text-decoration: none;
  color: white;
}
img {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1280px;
  padding: 40px;
  list-style: none;
  margin: 0 auto;

  .cardItem {
    position: relative;
    box-shadow: 4px 4px 4px 0px rgba(53, 94, 126, 0.137);
    transition: 0.4s ease-in-out;
    &:hover, &:focus {
      box-shadow: 4px 4px 12px 0px rgba(53, 94, 126, 0.459);
    }

    img {
      height: 240px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.info {
  display: flex;
  justify-content: space-around;
  background-color: #5471f063;
  color: #fff;
  .info__item {
    display: block;
    text-align: center;
    font-size: 14px;
    span {
      display: block;
      font-size: 10px;
      margin-top: 5px;
    }
  }
}


.load__more {
  display: none;
  margin: 15px auto 45px;
  color: white;
  border: none;
  outline: none;
  background-color: #5471f063;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;

  &:hover {
    background-color: #5470f0;
  }
}
